<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">
  <xacro:arg name="name" default="ur5"/>

  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find ur_robot_driver)/urdf/ur.ros2_control.xacro"/>
  <xacro:include filename="$(find ur_description)/urdf/inc/ur_transmissions.xacro"/>

  <xacro:arg name="ur_type" default="ur5"/>
  <xacro:arg name="tf_prefix" default=""/>
  <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
  <xacro:arg name="physical_params" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
  <xacro:arg name="visual_params" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
  <xacro:arg name="transmission_hw_interface" default=""/>
  <xacro:arg name="safety_limits" default="false"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>

  <xacro:arg name="headless_mode" default="false"/>
  <xacro:arg name="robot_ip" default="0.0.0.0"/>
  <xacro:arg name="script_filename" default=""/>
  <xacro:arg name="output_recipe_filename" default=""/>
  <xacro:arg name="input_recipe_filename" default=""/>
  <xacro:arg name="reverse_ip" default="0.0.0.0"/>
  <xacro:arg name="script_command_port" default="50004"/>
  <xacro:arg name="reverse_port" default="50001"/>
  <xacro:arg name="script_sender_port" default="50002"/>
  <xacro:arg name="trajectory_port" default="50003"/>

  <xacro:arg name="use_tool_communication" default="false"/>
  <xacro:arg name="tool_voltage" default="0"/>
  <xacro:arg name="tool_parity" default="0"/>
  <xacro:arg name="tool_baud_rate" default="115200"/>
  <xacro:arg name="tool_stop_bits" default="1"/>
  <xacro:arg name="tool_rx_idle_chars" default="1.5"/>
  <xacro:arg name="tool_tx_idle_chars" default="3.5"/>
  <xacro:arg name="tool_device_name" default="/tmp/ttyUR"/>
  <xacro:arg name="tool_tcp_port" default="54321"/>

  <xacro:arg name="use_mock_hardware" default="false"/>
  <xacro:arg name="mock_sensor_commands" default="false"/>
  <xacro:arg name="simulation_controllers" default=""/>
  <xacro:arg name="initial_positions_file" default="$(find ur_description)/config/initial_positions.yaml"/>
  <xacro:property name="initial_positions_file" default="$(arg initial_positions_file)"/>

  <material name="gripper_dark">
    <color rgba="0.12 0.14 0.17 1.0"/>
  </material>
  <material name="gripper_metal">
    <color rgba="0.62 0.66 0.70 1.0"/>
  </material>
  <material name="gripper_pad">
    <color rgba="0.03 0.03 0.03 1.0"/>
  </material>

  <link name="world"/>

  <xacro:ur_robot
    name="$(arg name)"
    tf_prefix="$(arg tf_prefix)"
    parent="world"
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)"
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ur_robot>

  <link name="gripper_base_link">
    <visual>
      <origin xyz="0 0 0.025" rpy="0 0 0"/>
      <geometry><box size="0.10 0.15 0.05"/></geometry>
      <material name="gripper_dark"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.025" rpy="0 0 0"/>
      <geometry><box size="0.10 0.15 0.05"/></geometry>
    </collision>
  </link>
  <joint name="tool0-gripper_base" type="fixed">
    <parent link="$(arg tf_prefix)tool0"/>
    <child link="gripper_base_link"/>
    <origin xyz="0 0 0.025" rpy="0 0 0"/>
  </joint>

  <link name="left_gripper_finger">
    <visual>
      <origin xyz="0 0 0.055" rpy="0 0 0"/>
      <geometry><box size="0.025 0.012 0.11"/></geometry>
      <material name="gripper_metal"/>
    </visual>
    <visual>
      <origin xyz="0 -0.008 0.075" rpy="0 0 0"/>
      <geometry><box size="0.028 0.004 0.05"/></geometry>
      <material name="gripper_pad"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.055" rpy="0 0 0"/>
      <geometry><box size="0.025 0.012 0.11"/></geometry>
    </collision>
  </link>
  <joint name="left_gripper_finger_joint" type="prismatic">
    <parent link="gripper_base_link"/>
    <child link="left_gripper_finger"/>
    <origin xyz="0 0 0.052" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="0.045" upper="0.065" effort="20" velocity="0.05"/>
  </joint>

  <link name="right_gripper_finger">
    <visual>
      <origin xyz="0 0 0.055" rpy="0 0 0"/>
      <geometry><box size="0.025 0.012 0.11"/></geometry>
      <material name="gripper_metal"/>
    </visual>
    <visual>
      <origin xyz="0 0.008 0.075" rpy="0 0 0"/>
      <geometry><box size="0.028 0.004 0.05"/></geometry>
      <material name="gripper_pad"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.055" rpy="0 0 0"/>
      <geometry><box size="0.025 0.012 0.11"/></geometry>
    </collision>
  </link>
  <joint name="right_gripper_finger_joint" type="prismatic">
    <parent link="gripper_base_link"/>
    <child link="right_gripper_finger"/>
    <origin xyz="0 0 0.052" rpy="0 0 0"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0.045" upper="0.065" effort="20" velocity="0.05"/>
  </joint>

  <link name="gripper_tcp"/>
  <joint name="gripper_base-gripper_tcp" type="fixed">
    <parent link="gripper_base_link"/>
    <child link="gripper_tcp"/>
    <origin xyz="0 0 0.113" rpy="0 0 0"/>
  </joint>

  <xacro:ur_ros2_control
    name="$(arg name)"
    tf_prefix="$(arg tf_prefix)"
    kinematics_parameters_file="$(arg kinematics_params)"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    use_mock_hardware="$(arg use_mock_hardware)"
    mock_sensor_commands="$(arg mock_sensor_commands)"
    headless_mode="$(arg headless_mode)"
    initial_positions="${xacro.load_yaml(initial_positions_file)}"
    use_tool_communication="$(arg use_tool_communication)"
    tool_voltage="$(arg tool_voltage)"
    tool_parity="$(arg tool_parity)"
    tool_baud_rate="$(arg tool_baud_rate)"
    tool_stop_bits="$(arg tool_stop_bits)"
    tool_rx_idle_chars="$(arg tool_rx_idle_chars)"
    tool_tx_idle_chars="$(arg tool_tx_idle_chars)"
    tool_device_name="$(arg tool_device_name)"
    tool_tcp_port="$(arg tool_tcp_port)"
    robot_ip="$(arg robot_ip)"
    script_filename="$(arg script_filename)"
    output_recipe_filename="$(arg output_recipe_filename)"
    input_recipe_filename="$(arg input_recipe_filename)"
    reverse_ip="$(arg reverse_ip)"
    script_command_port="$(arg script_command_port)"
    reverse_port="$(arg reverse_port)"
    script_sender_port="$(arg script_sender_port)"
    trajectory_port="$(arg trajectory_port)"/>
</robot>
